body {
    background-image:url("https://static.tumblr.com/27d4686271bbd1c8d2a74477dfca7f4a/ql33idn/ZbRnuqn6n/tumblr_static_tumblr_static__640.jpg");
}
h1 {
    color: white;
    font-family: fantasy;
}
h2 {
    color: white;
    font-family: fantasy;
}
h3 {
    color: white;
    font-family: fantasy
}


